.homeNavBar {
    margin-top: 45px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    width: 994px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Inknut Antiqua', sans-serif;
    color: gold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5),
                 -1px 1px 2px rgba(0, 0, 0, 0.5),
                 1px -1px 2px rgba(0, 0, 0, 0.5),
                 -1px -1px 2px rgba(0, 0, 0, 0.5);
  }
  
  .navButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-family: 'Inknut Antiqua', sans-serif;
    color: gold;
    font-size: 17px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .botonUser {
    height: 57px;
    width: 212px;
    display: flex;
    transition: 0.3s;
  }

    .botonUser:hover {
    height: 57px;
    width: 212px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    
  }
  
  .imagenesUser {
    height: 57px;
    width: 73px;
    position: relative;
  }
  
  .classIcon {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 28px;
    left: 37px;
    z-index: 2;
    border-radius: 5px;
  }
  
  .userIcon {
    height: 41px;
    width: 41px;
    margin-left: 10px;
    margin-top: 8px;
    border-radius: 5px;
  }
  
  .nombreUser {
    height: 57px;
    width: 139px;
  }
  
  .userName {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .userID {
    color: #635D5D;
    text-align: center;
    font-size: 10px;
  }
  
  .macrosButton {
    margin-right: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-family: 'Inknut Antiqua', sans-serif;
    color: gold;
    font-size: 17px;
    text-decoration: none;
    border-radius: 5px;
  }
  


  /* MODAL CSS */
  .modal {
    position: absolute;
    margin-top: 429px;
    margin-left: -15px;
    width: 100vw;  /* Asegúrate de que cubra toda la ventana */
    height: 100vh; /* Asegúrate de que cubra toda la altura de la ventana */
    background-color: rgba(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999; /* Asegúrate de que el modal esté por encima de otros elementos */
  }

  .cuadradoInterior{
    width: 265px;
    height: 372px;
    margin-left: 44px;
    margin-top: 0px;
    
  }

  .characterList{
    
    overflow:auto;
    height: 276px;
  }

  .tituloDC{
    margin-top: 21px;
  }

  .userIconBig{
    height: 48px;
    width: 48px;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 5px;
    position: absolute;

  }

  .classIconBig{
    height: 30px;
    width: 30px;
    margin-left: 79px;
    margin-top: 37px;
    border-radius: 5px;
    position: absolute;

  }

  .userNameBig{
    margin-left: 158px;
    margin-top: 22px;
    position: absolute;
  }

  .userIDBig{
    margin-left: 160px;
    margin-top: 40px;
    position: absolute;
  }

  .Pjmasusados{
    padding-top: 72px;
  }

  .userIconList{
    height: 41px;
    width: 41px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
  }

  .classIconList{
    height: 21px;
    width: 21px;
    margin-left: 35px;
    margin-top: -10px;
    border-radius: 5px;
    position: relative;
  }

  .userNameList{
    margin-top: -45px;
    margin-left: -60px;
    
  }

  .userTime{
    margin-top: -30px;
    margin-left: 140px;
    font-size: 9px;
  }

  .userTimeList{
    color: #ffffff;
    margin-left: 140px;
    margin-bottom: 20px;
  }

  
  .modalContent {
    border-radius: 20px 0 20px 0;
    backdrop-filter: blur(6px);
    background-color: rgba(51, 51, 51, 1);
    box-shadow: -14px 20px 20.8px 7px rgba(0, 0, 0, 0.918);
    width: 353px;
    height: 482px;
    text-align: center;
    position: relative¡; /* Asegúrate de que el contenido del modal esté bien posicionado */
    z-index: 9999999;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
  }

  .closeSesion{
    background-color: rgba(146, 30, 30, 0.514);
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(243, 58, 95);
    position:absolute;
    margin-left: -70px;
    margin-top: -5px;
    font-family: 'Inknut Antiqua', sans-serif;
    box-shadow: -14px 20px 20.8px 7px rgba(24, 24, 24, 0.918);

  }

  hr {
    color:rgba(255, 255, 255, 0.137);
    border: 0.5px solid rgba(255, 255, 255, 0.137);
    border-radius: 2px;
  }
  