@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Belanosima:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

html{
    overflow: hidden;

}

.launcherBackground {
    transition: 0.5s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    
}

body {
    font-family: 'Alef', sans-serif;
    color: white;
    height: 100vh;
    width: 100vw;
    
    
}


  


/* #homeNavBar {
    margin-top: 45px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 57px;
    width: 994px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Inknut Antiqua', sans-serif;
    color: gold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px 1px 2px rgba(0, 0, 0, 0.5), 1px -1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5);
}

.navButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-family: 'Inknut Antiqua', sans-serif;
    color: gold;
    font-size: 17px;
    border-radius: 5;
}



#botonUser{
    height: 57px;
    width: 212px;
    display: flex;
}

/* PARTE DE LAS IMAGENES DEL USER */
/* #imagenesUser{
    height: 57px;
    width: 73px;
}

#classIcon{
    height: 26px;
    width: 26;
    position: absolute;
    top: 28px; 
    left: 37px; 
    z-index: 2; 
    border-radius: 5px;

}

#userIcon{
    height: 41px;
    width: 41px;
    margin-left: 10px;
    margin-top: 8px;
    border-radius: 5px;
}

#nombreUser{
    height: 57px;
    width: 139px;
}

#userName{
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}
#userID{
    color: #635D5D;
    text-align: center;
    font-size: 10px;
} */ 



#contentArea {
   z-index: -1; 
}

/*VERSIONES*/
.sidebar{
    height: 448px;
    width: 193px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    font-family: 'Inknut Antiqua', sans-serif;
    overflow: hidden;
    margin-top: 13px;
    
}



/*TODA LA BANDA DERECHA*/

.rightSidebar {
    /* background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    height: 154px;
    width: 212px;
    margin-left: 21px;*/
    margin-left: 792px;
    margin-top: -448px;
    position: absolute;
} 

/* BLOQUE COMPLETO */
#tiendaMonedas{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    margin-top: 14px;
    margin-left: 0px;
    height: 154px;
    width: 212px;
    font-family: 'Inknut Antiqua', sans-serif;
    
}

.shop_title{
    font-family: 'Inknut Antiqua', sans-serif;
    color: gold;
    text-align: center;

    padding-top: 15px;
}

.monedaDona{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 57px; 
    left: 38px; 
    z-index: 2; 
    border-radius: 5px;
}

.monedaVota{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 57px; 
    left: 139px; 
    z-index: 2; 
    border-radius: 5px;
}

#puntosVotacion{
    color: silver;
    font-size: 11px;
    position: sticky;
    margin-top: -18px;
    margin-bottom: 0px;
    margin-left: 163px;
}

#puntosDonacion{
    color: gold;
    font-size: 11px;
    position: sticky;
    margin-top: -18px;
    margin-bottom: 0px;
    margin-left: 62px;
}

#donacionMoneda{
    font-size: 16px;
    position: sticky;
    margin-top: 47px;
    margin-bottom: 0px;
    margin-left: 28px;
}

#votacionMoneda{
    font-size: 16px;
    position: sticky;
    margin-top: -22px;
    margin-bottom: 0px;
    margin-left: 128px;
}










#estadoServer{
    background-color: rgba(0, 180, 0, 0.5);
    height: 34px;
    width: 222px;
    margin-top: 18px;
    margin-left: -5px;
    text-align: center;
    backdrop-filter: blur(6px);
    font-family: 'Inknut Antiqua', sans-serif;
}



.realm-row {
    display: flex;
    justify-content: space-between;
    padding:17px;
    border-bottom: 1px solid #0000008c;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inknut Antiqua', sans-serif;
}


#estadoActualServer{
    margin-top:-40px;
    margin-left: 10px;
}

.versions{
    /* background-color: aqua; */
    overflow: hidden;
    height: 195px;
    overflow: scroll; /* Permite el scroll */
          /* Permite que el contenedor crezca según su contenido */
}

.versions button, .realms button{
    width: 100%;
    padding: 10px;
    font-family: 'Inknut Antiqua', sans-serif;
    border: none;
    color: white;
    cursor: none;
    
}

.versions::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento */
}

.editButton{
    margin-left: 10px;
}

#tituloVersiones{
    background-color: rgba(255, 255, 255, 0.1);
    color: gold;
    text-align: center;
    padding: 7px;
    font-size: 16px;
    font-family: 'Inknut Antiqua', sans-serif;
}
.versions button:focus, .realms button:focus{
    background-color: rgba(255, 255, 255, 0.1);
}

#realms{
    position: fixed;
    top: 233px;
    /* background-color: #00a100; */
    width: 193px;
}
.realmItem {
    /* display: flex;
    justify-content: space-between; */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

.red-circle {
    color: red;
  }
  
  .green-circle {
    color: green;
  }

  .green {
    color: green;
    position: relative;
    margin-left: -80px;
    margin-top: 11px;
    font-size: 11px;
  }
  

.realm-status{
    scale: 0.7;
    /* align-items: center; /* Alinea verticalmente los elementos */
    /* gap: 1px; Espacio entre el círculo y el texto de 'online'  */
}

.realm-online{
    position: absolute;
    margin-left: 125px;
}
#circuloVerde{
    height:10px;
    width:10px;
    background:#00a100;
    border-radius:50px;
    position: sticky;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    margin-left: 68px;

 }


#mainContent{
    /* display: none; */
    z-index: 1;
}

.newsArea {
    margin-left: 256px;
    margin-top: -448px;
    position:absolute;
    height: 218px;
    width: 493px;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 10;
    
}

.mainNewsArea{
    height: 219px;
    width: 493px;
}

.mainNew{
    height: 219px;
    width: 493px;
    /* backdrop-filter: blur(6px); */
    border: 1px solid rgba(90, 90, 90, 0.3);
    background-color: rgba(90, 90, 90, 0.3);
}

.mainNewText{
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 20px;
    text-align: center;
    height: 30px;
    width: 493px;
    /* backdrop-filter: blur(6px); */
    border: 1px solid rgba(45, 45, 45, 0.3);
    background-color: rgba(45, 45, 45, 0.3);
}

.microNewArea{
    margin-top: 40px;
    height: 190px;
    width: 493px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.microNew{
    margin-left: 6px;
    margin-top: 5px;
    width: 154px;
    height: 139px;
    object-fit: cover;
}

.microNewText{
    margin-left: 6px;
    font-size: 12px;
    font-family: 'Inknut Antiqua', sans-serif;
    width: 154px;
    margin-top: 5px;
    height: 42px;
    /* backdrop-filter: blur(6px); */
    border: 1px solid rgba(45, 45, 45, 0.3);
    background-color: rgba(45, 45, 45, 0.3);
    color: white;
}

.changelog{
    background-color: rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(6px); */
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    height: 154px;
    width: 212px;
}

#headChange{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.changelog_title{
    font-family: 'Inknut Antiqua', sans-serif;
    color: gold;
    text-align: center;
    margin-bottom: 0px;
}




.readMore{
    -webkit-text-fill-color: white;
    text-decoration: none;
    position: sticky;
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 15px;
    margin-top: 18px;
    margin-bottom: 0px;
    margin-left: -20px;
    /* backdrop-filter: blur(6px); */
    background-color: rgba(90, 90, 90, 0.3);
    width: 212px;
    height: 24px;
}

.verTienda{
    -webkit-text-fill-color: white;
    text-decoration: none;
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 15px;
    margin-top: 21px;
    margin-left: 0px;
    /* backdrop-filter: blur(6px); */
    background-color: rgba(90, 90, 90, 0.3);
    width: 212px;
    height: 24px;
}

.button_container {
    margin-top: 6px;
    background-color: gold;
    
    margin-left: -5px;
    width: 220px;
    height: 68px;
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    padding: 0px 0px; 
    margin-bottom: 13px;
}
.play_button, .settings_button {
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    font-size: 20px;
    font-family: 'Inknut Antiqua', sans-serif;
    text-align: center;
    cursor: none;
}

.play_button {
    font-size: xx-large;
    min-width: 170px;
}

.settings_button {
    background-color: rgba(68, 68, 68, 0.3);
    font-size: 30px;
    text-align: center;
    width: 68px;
    height: 68px;
    
    /* Elimina el margen izquierdo y el position absolute */
}   

ul{
    font-size: 15px;
}

.userIcon{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: -13px
}

#userButton{
    color: rgb(255, 255, 255);
}


#changelogButton{
    margin-right: 0%;
}

.macrosButton{
    margin-right: 26px;
}


.addVersion{
    flex-grow: 1;
    height: 48px;
    text-align: center;
    color: gold;
    font-size: 15px; /* Ajustar el tamaño del texto si es necesario */
    height: 100%; /* Ajustar la altura */
    width: 100%; /* Hacer que el input ocupe todo el espacio disponible */
}

.versions {
    max-height: 230px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
}

.versionButton {
    width: 100%;
    height: 48px;
    
    color: white;
    cursor: none;
    display: flex; 
    align-items: center; 
    margin:0px;
    padding: 0px;
}

.versionLogo {
    width: 40px;
    height: 40px;
    margin-right: 20%; 
}

#modal {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 1024px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100 !important;
}

/* Contenido del modal */
#modalContent {
    margin-left: 24%;
    margin-right: 25%;
    border-radius: 20px 0 20px 0;
    backdrop-filter: blur(6px);
    background-color: rgba(51, 51, 51, 0.685);
    padding-left: 40px ;
    padding-right: 40px ;
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    color: #ffffff; /* Texto amarillo */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    margin-top: 95px;

}

#exeSelecionado{
    text-align: center;
    
}

#selecionarExe{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.767);
    background-color: rgba(68, 68, 68, 0.952);
}

/* Título centrado con subrayado azul */
#modalContent h3 {
    color: #ffffff;
    font-size: 24px;
}

/* Etiquetas */
#modalContent label {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-start;
}

/* Inputs */
#modalContent input[type="text"] {
    background-color: rgba(68, 68, 68, 0.952);
    color: white;
    border: none;
    border-radius: 4px;
    width: 300px;
    padding: 8px;
    font-size: 16px;
}

/* Contenedor para el input de ruta + botón carpeta */
.inputGroup {
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
}


.inputVersionWow {
    background-color: rgba(68, 68, 68, 0.81);
    
}

#inputVersionButton {
    background-color: black;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: none;
}

/* Botones inferiores */
.modelButtonA {
    width: 150px;
    margin-top: 20px;
    background-color: rgba(179, 0, 0, 0.4);
    margin-right: 45px;
    margin-left: 50px;
    color: rgb(179, 0, 0);
    cursor: none;
}
.modelButton {
    width: 150px;
    margin-top: 20px;
    background-color:rgba(255, 217, 0, 0.4);
    color: gold;
    cursor: none;
}

.modelButtonDelete{
    margin-left: 35%;
    color: rgb(179, 0, 0);
}

#modalContent button {
    padding: 10px 33px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: none;

}

#seleccionarExe{
    background-color: #3a3a3a;
}

#seleccionarAddons{
    background-color: #3a3a3a;
}

/* Texto de eliminar versión */
#modalContent #deleteText {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.config-options-container {
    overflow-y: auto;
    max-height: 400px;
    padding: 10px;
}

.openPopupButton {
  color: white;
  font-size: xx-large;
  position: absolute;
  bottom: 20px;
  right: 80px;
}

.popupDiv {
  background-color: rgba(128, 128, 128, 0.4);
 border-radius: 20px 0 20px 0;
 padding: 10px;
 text-align: center;
 backdrop-filter: blur(6px);
 box-shadow: -14px 20px 20.8px 7px rgba(0, 0, 0, 0.25);
 transform: translate(20px,-0px);
}

.popupDiv hr {
  margin-bottom: 5px;
  color: #9b9b9b;
}

.flagButton {
  width: 35px;
  box-shadow: -14px 20px 20.8px 7px rgba(0, 0, 0, 0.25);
}

.popup-arrow {
  transform: translate(-15px,0);
}

i {
  display:block;
  width: 100%;
  height: 100%;
}